<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
            <mimeMap fileExtension=".mobileconfig" mimeType="application/vnd.webos.mobileconfig mobileconfig" />
            <mimeMap fileExtension=".mobileprovision" mimeType="application/vnd.webos.mobileprovision mobileprovision" />
        </staticContent>
    </system.webServer>
</configuration>
